body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #222;
}

nav {
  background-color: #444;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
  width: 20%;
  transition: background-color 0.3s ease;
}

a {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: rgba(17, 17, 17, 0.7);
}

ul li:last-child {
  margin-right: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.top_link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  font-family: sans-serif;
}

.center-text {
  font-size: 24px;
}

div.course-sidebar {
  margin: 25px;
  width: 40%;
  margin-bottom: 25px;
}

div.course-item {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  background-color: #555;
  background-size: auto;
  text-align: center;
  color: #ddd;
  font-size:x-large;
  padding: 10px 20px;
  
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

body {
  background: #212121;
  padding: 50px 0;
}

.nav {
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}